@use "sass:color";

$primary-color: #8e44ad;
$red: #c0392b;

:root {
  --primary-color: #{$primary-color};
  --primary-color-100: #{color.scale($primary-color, $lightness: 90%)};
  --primary-color-200: #{color.scale($primary-color, $lightness: 80%)};
  --primary-color-300: #{color.scale($primary-color, $lightness: 70%)};
  --primary-color-600: #{color.scale($primary-color, $lightness: 40%)};
  --primary-color-800: #{color.scale($primary-color, $lightness: 20%)};
  --grey-200: #EAEEF4;
  --grey-300: #cad4e3;
  --red: #{$red};
  --red-200: #{color.scale($red, $lightness: 20%)};
  --red-400: #{color.scale($red, $lightness: 40%)};

  --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  --border-radius: 5px;

  --transition-duration: 0.3s;

  --margin: 1rem;
  --padding: 1rem;

  --layout-width: 1200px;
}